.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(214, 7, 7);
}

.topnav a.active {
  background-color: #2ceabd;
  color: rgb(0, 0, 0);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1 / 3;
  grid-row: 1;
}
.two {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}
.three {
  grid-column: 1;
  grid-row: 2 / 5;
}
.four {
  grid-column: 3;
  grid-row: 3;
}
.five {
  grid-column: 2;
  grid-row: 4;
}
.six {
  grid-column: 3;
  grid-row: 4;
}

table,
tr,
th,
td,
caption {
  border: 1px solid #000000;
  font-family: "courier new", courier, monospace;
  border-collapse: collapse;
  padding: 0.5rem;
}

hr {
  color: rgb(0, 0, 0);
}

em {
  color: rgb(255, 0, 0);
}

class {
  background-color: #2ceabd;
  color: rgb(0, 0, 0);
}


.tourist-spot img {
  max-width: 20%;
  width: 200px; 
}

.tourist-spot 
{font-size: 17px;}



*,.flag {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgb(221, 239, 255);
  display: grid;
  place-items: center;
  font-family: cursive;
  font-weight: bold;
}

h3 {
  position: absolute;
  text-align: center;
  top: 20px;
}

/* Main Style Stars from here  */
.flag {
  position: relative;
  width: 300px;
  height: 200px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.sri_lanka {
  padding: 20px;
  background-color: #ffbe29;
  display: flex;
  align-items: center;
  gap: 20px;
}
.left__box {
  width: 78px;
  height: 100%;
  background: linear-gradient(to right, #00534e 50%, #eb7400 0);
}
.sri_lanka__logo {
  width: 180px;
  height: 160px;
}
